<html>  
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css'>
        <link rel="stylesheet" type="text/css" href='/public/assets/app.css'>

    </head>
    <body>  

<!-- <p1>From header file</p1> -->
    <div class="ui fixed inverted menu">    
        <div class = "ui container">
            <div class= "header item"><i class= "code icon"></iclass></i>Blog Site</div> <!--header item is basically similiar to brand in bootstrap!!-->
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New Post</a>

        </div>
    </div>